<nav class="navbar" >
  <div class="section-logo">
    <img
    width="120"
    alt="AGP Logo"
    src="./../assets/logo.png"
  />
  <div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span>DASHBOARD</span>
  </div>
<div class="section-login">
  <div *ngIf="!userLoginOn">
    <span>Iniciar Sesion</span>
    <span>Registrarse</span>
  </div>
  <div *ngIf="userLoginOn">
    <span>Cerrar Sesion</span>
    <object data="./../assets/icons/user.svg" width="24px"></object>
  </div>
</div>

</nav>
